[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2 = "*"
autopep8 = "*"
django-crispy-forms = "*"
django-bootstrap4 = "*"
django-allauth = "*"
pillow = "*"
fontawesomefree = "*"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
dj-database-url = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.8"
